.news-letter {
  position: relative;
  margin: 5rem 0;
  margin-bottom: 20px;
}
.news-letter::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 35%;
  width: 100%;
  z-index: -1;
  background-color: #1a1a1a;
}
.news-letter .text-wrapper {
  background-color: var(--accent);
  max-width: 1000px;
  color: var(--light);
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.3);
}
.news-letter .text-wrapper h1 {
  font-size: 3rem;
}
.news-letter .text-wrapper p {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}
.news-letter .text-wrapper form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.news-letter .text-wrapper form input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  flex-grow: 1;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 0 0 2px var(--secondary);
}
.news-letter .text-wrapper form button {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: var(--accent);
  box-shadow: 0 0 0 2px var(--secondary);
  color: var(--light);
  cursor: pointer;
  transition: 0.5s;
}
.news-letter .text-wrapper form button:hover {
  background-color: var(--light);
  color: var(--dark);
}
@media screen and (max-width: 765px) {
  .news-letter .text-wrapper h1 {
    font-size: 1.4rem;
  }
  .news-letter .text-wrapper p {
    font-size: 1rem;
    text-align: center;
  }
}
