.exam-details {
  width: 100%;
  background-color: var(--secondary);
}
.exam-details .wrapper {
  max-width: 1300px;
  margin: 1rem auto;
}
.exam-details h2 {
  border-bottom: 4px solid var(--primary);
  padding: 1rem 0;
  text-align: center;
}
.exam-details p {
  margin: 1rem 0;
  font-weight: 600;
}
.exam-details ul {
  display: flex;
  overflow: auto;
}
.exam-details ul::-webkit-scrollbar {
  display: none;
}
.exam-details ul li {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--light);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 3px 0 var(--primary);
  transition: 0.3s;
  border-radius: 5px;
  white-space: nowrap;
}
.exam-details ul li:hover,
.exam-details ul li.active {
  box-shadow: 5px 5px 0 var(--dark);
}
