.adminDashboard {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: 1rem;
}
.createBlogs {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}
.adminDashboard section > h2,
.adminDashboard section > h1 {
  color: var(--accent);
}
.addCollegeInSearch {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}
