.changePassword {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.changePassword > h1,
.changePassword > p {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--accent);
  text-transform: capitalize;
}
.changePassword > h1 span {
  color: var(--primary);
  font-size: 1.3em;
}
.changePassword form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.changePassword form > div {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 0.5rem;
}
.changePassword form > div label {
  font-weight: 600;
  color: var(--primary);
  text-transform: capitalize;
}
.changePassword form > div input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--accent);
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  color: var(--primary);
  font-weight: 600;
  font-size: 0.9rem;
  background-color: var(--light);
  transition: 0.3s;
}
.changePassword form > div input:focus {
  border: 1px solid var(--primary);
}
.changePassword button {
  max-width: 100%;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--accent);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s;
}
.changePassword button:not(:disabled):hover {
  background-color: var(--accent);
  color: var(--light);
}
