.popularColleges {
  padding: 1rem;
  max-width: 1300px;
  margin: 0 auto;
}
.popularColleges > h1 {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--accent);
  font-weight: 700;
  text-decoration: underline;
}
.popularCollegesList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}
.popularCollegesList li {
  padding: 1rem;
  border-radius: 1rem;
  margin:0 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.popularCollegesList li .info h4 {
  color: var(--primary);
}
.popularCollegesList li .info p {
  color: var(--accent);
  font-weight: 600;
  margin-left: 1rem;
}
